<%= form_with(model: tweet, local: true, :class => "w-100 pb-3") do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group pt-5">
    <b><%= current_user.username %> piensa: </b><br/>
    <%= form.text_area :content, :class =>"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Twittear", :class => "btn btn-primary" %>
  </div>
<% end %>
